* {
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.containerBox {
    position: fixed;
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    transition: height 1s;
}


.newContainerBox {
    height: 200px;
}

.minContainerBox {
    height: 150px;
}

.newMinContainerBox {
    height: 250px;
}

.blueBox {
    position: absolute;
    bottom: 0px;
    background-color: gainsboro;
    height: 65%;
    width: 100%;
    z-index: -1;
}

.flexContainer {
    position: relative;
    justify-content: center;
    height: 100%;
    width: 500px;
    margin: 0 auto;
    overflow: hidden;
}

.minFlexContainer {
    width: 360px;
    background-color: #2175D6;
}

.videoContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 150px;
    width: 180px;
    transition: all 2s;
    /* z-index: 33; */
    /* transform: translateY(4px); */

}

.newVideoContainer {
    width: 240px;
    height: 200px;
}

.minVideoContainer {
    height: 150px;
    width: 180px;
}

.newMinVideoContainer {
    top: 0px;
    height: 180px;
    width: 360px;
}

video {
    width: 100%;
    height: 100%;
    z-index: 33;
    object-fit: contain;
}

.video-controls {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: row;
    padding: 3px;
}

.material-icons {
    font-size: 15px;
}

#toggle,
#sound {
    color: white;
    background-color: #2175D6;
    border: none;
}




.imageTextContainer {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 320px;
    height: 100px;
    background-color: rgb(67, 130, 231);
    transition: all 2s;
    overflow: hidden;
}

.newImageTextContainer {
    height: 200px;
    width: 260px;
}

.minImageTextContainer {
    width: 180px;
    height: 150px;
}

.newMinImageTextContainer {
    width: 100%;
    height: 60px;
}

.buynow {
    top: 35px;
    left: 20px;
    transition: all 1.5s;
}

.buynow-move {
    top: 160px;
    left: 85px;

}

.minBuyNow {
    top: 160px;
    left: 20px;
}
.newMinBuyNow{
    top: 15px;
    left: 25px;
    /* height: 50px; */
}
.Onegb {
    top: 22px;
    left: 224px;
    height: 55px;
    transition: all 1.5s;
}

.Onegb-move {
    top: 22px;
    left: 132px;
    height: 70px;
}

.minOnegb {
    top: 20px;
    left: 45px;
}

.newMinOnegb {
    top: 10px;
    left: 255px;
    height: 50px;
}

.imageText {
    top: 24px;
    left: 125px;
    height: 35px;
    transition: all 1s;
}

.imageTextMove {
    top: 34px;
    left: 13px;
    height: 50px;
    opacity: 0;
    transition: opacity 1s;
}

.minImageText {
    top: 88px;
    left: 44px;
    height: 45px;
}

.newMinImageText {
    top: 10px;
    left: 150px;
    height: 40px;
}

.containerBox-animation {
    animation: containerBox 1.5s linear forwards;
}

@keyframes containerBox {
    0% {
        transform: translateY(200px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

.pulse-animation {
    animation: pulse-animation 1s linear infinite;
}

@keyframes pulse-animation {

    0%,
    100% {
        transform: scale(1);
    }

    50% {
        transform: scale(.95);
    }
}



.imageTextMove-animation {
    animation: imageTextMove 1.5s linear forwards;
}

@keyframes imageTextMove {
    0% {
        transform: translateX(-200px);
    }

    100% {
        transform: translateX(0px);
    }
}

.absolute {
    position: absolute;
}

.hidden {
    display: none;
}

.zeroOpacity {
    opacity: 0;
}

.oneOpacity {
    opacity: 1;
}