* {
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100vw;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    background-color: white;
}

.containerBox {
    position: fixed;
    bottom: 0;
    height: 150px;
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
    transition: height 1s;
}
.newContainerBox{
    height:200px;
}
.blueBox{
    position: absolute;
    bottom: 0px;
    background-color: #4790e3;
    height: 65%;
    width: 100%;
    z-index: -1;
}
.flexContainer {
    position: relative;
    justify-content: center;
    height: 100%;
    width: 500px;
    margin: 0 auto;
}

.videoContainer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    height: 150px;
    width: 180px;
    transition: all 2s;
    /* transform: translateY(4px); */
    
}
.newVideoContainer{
    width: 240px;
    height: 200px;
}
video{
    width: 100%;
    height: 100%;    
    object-fit: contain;
}

.imageTextContainer {
    position: absolute;
    bottom: 0;
    right: 0px;
    width: 320px;
    height: 100px;
    background-color: cyan;
    transition: all 2s;
}
.newImageTextContainer {
    height:200px;
    width:260px;
}


